<input
  type="text"
  (keydown.enter)="fetchPokemon()"
  [(ngModel)]="pokemonName"/>

<button (click)="fetchPokemon()">Wybierz</button>

<br/>

<!--<img src="{{pokemon?.sprites.front_default}}">-->



<div *ngIf="pokemon">
  <canvas id="game-arena" width="{{canvasWidth}}" height="{{canvasHeight}}"></canvas>
</div>


<button (click)="animateElement()">animate</button>
<div *ngIf="!pokemon" style="width: 100%; height: calc(100vh - 200px); background-color: aqua; border: 1px solid red">

  <div id="square" style="width: 25px; height: 25px; border: 2px solid black"></div>

</div>


